body{
	background: pink;
}  

form label {
	display: block;
	font-size: 30px;
	color: black;
}
form input{
	display: block;
	blackground: white;
	color: black;
	font-weight: bold;
}
table{
	blackground: pink;
	color: black;
	font-size: 30px;
}	
td{ 
	border: 1px solid #000000;
	boder-color: black;
}
